body {
  display: grid;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  background-color: var(--Blue-950);
}

.main {
  /* display: flex; */
  justify-self: center;
  /* align-content: space-between; */
  /* align-items: ; */
  /* height: 100%; */
  /* width: 100%; */
  /* max-width: 375px; */
  width: min(100%, 335px);
  padding: 2.4rem;
  background-color: var(--Blue-900);
  border-radius: 10px;
}

.advice {
  display: grid;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  position: relative;
}

.advice__id {
  font: var(--text);
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--Green-300);
}

.advice__text {
  font: var(--text-lg);
  color: var(--Blue-200);
}

.advice__divider {
  background-image: url("../images/pattern-divider-mobile.svg");
  background-repeat: no-repeat;
  height: 35px;
  width: 100%;
  margin-bottom: 2rem;
}

.advice__button {
  width: 7rem;
  padding: 2rem;
  background-color: var(--Green-300);
  border: none;
  border-radius: 50%;
  position: absolute;
  left: 115px;
  bottom: -60px;
  transition: box-shadows 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.advice__button:hover {
  box-shadow:
    0 0 15px var(--Green-300),
    0 0 30px var(--Green-300);
  transform: scale(1.05);
}

.visually-hidden {
  display: none;
}